/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
/* 
.container-fluid {
    position: relative;
    width: 100%; */
/* ancho máximo del contenedor */
/* min-width: 320px; */
/* ancho mínimo del contenedor */
/* margin: 0 auto; */
/* centrar el contenedor en la página */
/* padding: 0px; */
/* añadir un espacio entre el contenido y el contenedor */
/* } */

/* 
#seccion1 {
    margin-bottom: 30px;
}

.texto-superpuesto1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.texto-superpuesto {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#section3 {
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 10px;
    background-color: #4b0202;
    background-image: linear-gradient(180deg,
            #000000 0%,
            #470702 57%,
            #ce0404 100%);
    color: white;
    text-align: justify;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}



#circulos {
    margin-left: 10%;
}

.circulo-exterior {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px dashed #c2c0c0;
    position: relative;
}

.circulo-medio {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px dashed #c2c0c0;
    position: absolute;
    top: 50px;
    left: 50px;
}

.circulo-interior {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px dashed #c2c0c0;
    position: absolute;
    top: 100px;
    left: 100px;
}

#container-carrusel {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin-top: 75px;
    margin-bottom: 150px;
    padding: 0;
}

#titulo_carrusel {
    margin-top: 100px;
}

#contenedor_boton {
    margin-top: 50px;
}

.fixed-card {
    position: fixed;
    top: 70px;
    z-index: 1;
} */