#container-noticias {
  background-image: url("/workspace/sergio-javier-andres-proyecto-final/src/front/img/bull&bear.jpeg");
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.noticias {
  background-color: rgba(0, 0, 0, 0.822);
  border: white;
}
